<!DOCTYPE html>
<html lang="fr">

	<head>
		<title>A Propos - Nabii Nac </title>
		{% include 'includes/home/head-home.html' %}
	</head>

	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- header section -->
		<header class="header-section">
			{% include 'includes/home/header-home.html' %}
		</header>
		<!-- header section end-->


		<!-- Header section  -->
		<nav class="nav-section">
			{% include 'includes/home/nav-home.html' %}
		</nav>
		<!-- Header section end -->


		<!-- Breadcrumb section -->
		<div class="site-breadcrumb">
			<div class="container">
				<a href="#"><i class="fa fa-home"></i> Acceuil</a> <i class="fa fa-angle-right"></i>
				<span>A propos de nous</span>
			</div>
		</div>
		<!-- Breadcrumb section end -->


		<!-- About section -->
		<section class="about-section spad pt-0">
			<div class="container">
				<div class="section-title text-center">
					<h3>BIENVENUE CHEZ NABII NAC</h3>
					<p>Accompagner les organisations grâce à la connaissance, l’analyse et l’impact</p>
				</div>
				<div class="row">
					<div class="col-lg-6 about-text">
						<h5>À propos de nous</h5>
						<p>NABII NAC se consacre à fournir des services de conseil, de recherche et de formation de haute qualité. Nous aidons les organisations à prendre des décisions éclairées grâce à des analyses de données précises, des recommandations stratégiques et des solutions innovantes.</p>
						
						<h5 class="pt-4">Notre vision – Le prophète en swahili</h5>
						<p>À l’image d’un prophète, considéré comme un guide spirituel qui interprète les signes, prédit les événements futurs et offre des conseils basés sur sa compréhension de la volonté divine, NABII NAC guide ses clients, analyse les informations disponibles, identifie les tendances et les corrélations, et anticipe les résultats futurs à partir de modèles statistiques et de méthodes d’analyse avancées.</p>
						
						<h5 class="pt-4">Notre cible</h5>
						<p>Comme les prophètes qui ont une audience spécifique, NABII NAC s’adresse à un large éventail de publics, y compris des décideurs, des entreprises, des organisations non gouvernementales, des chercheurs ou des spécialistes dans un domaine particulier. Nous agissons comme une figure d’autorité, apportant des conseils fiables et éclairés pour soutenir les décisions stratégiques.</p>
						
						<h5 class="pt-4">Notre histoire</h5>
						<p>Fondée avec pour mission de transformer les données en connaissances exploitables, NABII NAC a continuellement évolué pour servir les organisations publiques et privées. Au fil des années, notre équipe a réalisé de nombreux projets de recherche, programmes de formation et études d’impact dans divers secteurs.</p>
						
						<ul class="about-list">
							<li><i class="fa fa-check-square-o"></i> Recherche et enquêtes dirigées par des experts pour guider la prise de décision.</li>
							<li><i class="fa fa-check-square-o"></i> Expérience solide en analyse statistique, collecte de données et renforcement des capacités.</li>
							<li><i class="fa fa-check-square-o"></i> Décennies de réalisations contribuant à l’impact organisationnel et social.</li>
							<li><i class="fa fa-check-square-o"></i> Valeurs fondamentales : intégrité, rigueur et engagement envers la réussite des clients.</li>
						</ul>
					</div>
					<div class="col-lg-6 pt-5 pt-lg-0">
						<img src="../../static/home/img/about.jpg" alt="À propos de NABII NAC" class="img-fluid rounded">
					</div>
				</div>
			</div>
		</section>
		<!-- About section end-->


		<!-- Testimonial section  -->
		<section class="testimonial-section spad">
			<div class="container">
				<div class="testimonial-slider owl-carousel">
					<div class="ts-item">
						<div class="row">
							<div class="col-md-3">
								<div class="ts-author-pic set-bg" data-setbg="../../static/home/img/member/1.jpg"></div>
							</div>
							<div class="col-md-9 ts-text">
								<p>“Grâce aux analyses et aux recommandations de NABII NAC, nous avons pu anticiper les tendances du marché et améliorer notre stratégie organisationnelle. Une équipe professionnelle et réactive.”</p>
								<h5>Mme. Amina Kabila</h5>
								<span>Directrice Marketing, Entreprise XYZ</span>
							</div>
						</div>
					</div>
					<div class="ts-item">
						<div class="row">
							<div class="col-md-3">
								<div class="ts-author-pic set-bg" data-setbg="../../static/home/img/member/2.jpg"></div>
							</div>
							<div class="col-md-9 ts-text">
								<p>“Les formations dispensées par NABII NAC sont très concrètes et adaptées aux besoins de nos équipes. Nous avons gagné en compétence et en efficacité dès les premières semaines.”</p>
								<h5>M. Jean-Paul Mbayo</h5>
								<span>Responsable RH, ONG Lumière</span>
							</div>
						</div>
					</div>
					<div class="ts-item">
						<div class="row">
							<div class="col-md-3">
								<div class="ts-author-pic set-bg" data-setbg="../../static/home/img/member/3.jpg"></div>
							</div>
							<div class="col-md-9 ts-text">
								<p>“Le cabinet NABII NAC nous a guidés dans la collecte et l’analyse de données cruciales. Leur expertise nous a permis de prendre des décisions stratégiques éclairées et fiables.”</p>
								<h5>Dr. Samuel Lufulu</h5>
								<span>Chercheur principal, Institut de Statistiques</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Testimonial section end -->


		<!-- Team section  -->
		<section class="team-section spad">
			<div class="container">
				<div class="section-title text-center">
					<h3>NOTRE ÉQUIPE</h3>
					<p>Les standards professionnels et les attentes</p>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="member">
							<div class="member-pic set-bg" data-setbg="../../static/home/img/member/1.jpg">
								<div class="member-social">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
							<h5>Cecile Bisimwa</h5>
							<p>Literature Teacher</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="member">
							<div class="member-pic set-bg" data-setbg="../../static/home/img/member/2.jpg">
								<div class="member-social">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
							<h5>Darmian Shaw</h5>
							<p>Physics Teacher</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="member">
							<div class="member-pic set-bg" data-setbg="../../static/home/img/member/3.jpg">
								<div class="member-social">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
							<h5>Joshua Matt</h5>
							<p>Matt Teacher</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="member">
							<div class="member-pic set-bg" data-setbg="../../static/home/img/member/4.jpg">
								<div class="member-social">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
							<h5>Taylor Launer</h5>
							<p>Music Teacher</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Team section end -->


		<!-- Newsletter section -->
		<section class="newsletter-section">
			{% include 'includes/home/newsletter-home.html' %}
		</section>
		<!-- Newsletter section end -->	


		<!-- Footer section -->
		<footer class="footer-section bg-dark text-white py-3">
			{% include 'includes/home/footer-home.html' %}
		</footer>
		<!-- Footer section end-->



		<!--====== Javascripts & Jquery ======-->
		{% include 'includes/home/scripts-home.html' %}
		
	</body>

</html>