<!DOCTYPE html>
<html lang="fr">

	<head>
		<title>Formations - Nabii Nac </title>
		{% include 'includes/home/head-home.html' %}
	</head>

	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- header section -->
		<header class="header-section">
			{% include 'includes/home/header-home.html' %}
		</header>
		<!-- header section end-->


		<!-- Header section  -->
		<nav class="nav-section">
			{% include 'includes/home/nav-home.html' %}
		</nav>
		<!-- Header section end -->


		<!-- Breadcrumb section -->
		<div class="site-breadcrumb">
			<div class="container">
				<a href="#"><i class="fa fa-home"></i> Acceuil</a> <i class="fa fa-angle-right"></i>
				<span>Nos Formations</span>
			</div>
		</div>
		<!-- Breadcrumb section end -->


		
		<!-- Courses section -->
		<section class="full-courses-section spad pt-0">
			<div class="container">

				<!-- UN SEUL CAROUSEL -->
				<div class="course-slider owl-carousel">

					<!-- ================= SLIDE 1 ================= -->
					<div class="single-slide">
						<div class="container-fluid">
							<div class="row">
								<!-- cours 1 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/6.png" alt="">
										<div class="course-cat">
											<a href="/formation_1"><span>BUREAUTIQUE</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Excel : De Débutant à Avancé</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>

								<!-- cours 2 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/2.png" alt="">
										<div class="course-cat">
											<a href="/formation_2"><span>MARKETING</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Marketing Digital : Google Ads et Réseaux Sociaux</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>
								
								<!-- cours 3 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/1.png" alt="">
										<div class="course-cat">
											<a href="/formation_3"><span>OFFICE</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Outils Bureautiques : PowerPoint, Word, Excel, Access</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>

								<!-- cours 4 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/5.png" alt="">
										<div class="course-cat">
											<a href="/formation_4"><span>PROGRAMMATION</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Python : De Débutant à Expert</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>

								<!-- cours 5 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/7.png" alt="">
										<div class="course-cat">
											<a href="/formation_5"><span>PROGRAMMATION</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Développement Web : HTML, CSS, JavaScript</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>
								
								<!-- cours 6 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/3.png" alt="">
										<div class="course-cat">
											<a href="/formation_6"><span>BUREAUTIQUE</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>PowerPoint : Présentations Impactantes</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ================= FIN SLIDE 1 ================= -->


					<!-- ================= SLIDE 2 ================= -->
					<div class="single-slide">
						<div class="container-fluid">
							<div class="row">
								<!-- cours 1 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/6.png" alt="">
										<div class="course-cat">
											<a href="/formation_1"><span>BUREAUTIQUE</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Excel : De Débutant à Avancé</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>

								<!-- cours 2 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/2.png" alt="">
										<div class="course-cat">
											<a href="/formation_2"><span>MARKETING</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Marketing Digital : Google Ads et Réseaux Sociaux</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>
								
								<!-- cours 3 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/1.png" alt="">
										<div class="course-cat">
											<a href="/formation_3"><span>OFFICE</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Outils Bureautiques : PowerPoint, Word, Excel, Access</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>

								<!-- cours 4 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/5.png" alt="">
										<div class="course-cat">
											<a href="/formation_4"><span>PROGRAMMATION</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Python : De Débutant à Expert</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>

								<!-- cours 5 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/7.png" alt="">
										<div class="course-cat">
											<a href="/formation_5"><span>PROGRAMMATION</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Développement Web : HTML, CSS, JavaScript</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>
								
								<!-- cours 6 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/3.png" alt="">
										<div class="course-cat">
											<a href="/formation_6"><span>BUREAUTIQUE</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>PowerPoint : Présentations Impactantes</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ================= FIN SLIDE 2 ================= -->


					<!-- ================= SLIDE 3 ================= -->
					<div class="single-slide">
						<div class="container-fluid">
							<div class="row">
								<!-- cours 1 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/6.png" alt="">
										<div class="course-cat">
											<a href="/formation_1"><span>BUREAUTIQUE</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Excel : De Débutant à Avancé</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>

								<!-- cours 2 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/2.png" alt="">
										<div class="course-cat">
											<a href="/formation_2"><span>MARKETING</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Marketing Digital : Google Ads et Réseaux Sociaux</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>
								
								<!-- cours 3 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/1.png" alt="">
										<div class="course-cat">
											<a href="/formation_3"><span>OFFICE</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Outils Bureautiques : PowerPoint, Word, Excel, Access</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>

								<!-- cours 4 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/5.png" alt="">
										<div class="course-cat">
											<a href="/formation_4"><span>PROGRAMMATION</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Python : De Débutant à Expert</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>

								<!-- cours 5 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/7.png" alt="">
										<div class="course-cat">
											<a href="/formation_5"><span>PROGRAMMATION</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>Développement Web : HTML, CSS, JavaScript</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>
								
								<!-- cours 6 -->
								<div class="col-lg-4 col-md-6 course-item">
									<div class="course-thumb">
										<img src="../../static/home/img/course/3.png" alt="">
										<div class="course-cat">
											<a href="/formation_6"><span>BUREAUTIQUE</span></a>
										</div>
									</div>
									<div class="course-info">
										<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
										<h4>PowerPoint : Présentations Impactantes</h4>
										<h4 class="cource-price">Gratuit</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ================= FIN SLIDE 3 ================= -->


				</div>
				<!-- FIN DU SEUL CAROUSEL -->
				
			</div>
		</section>
		<!-- Courses section end-->


		<!-- Newsletter section -->
		<section class="newsletter-section">
			{% include 'includes/home/newsletter-home.html' %}
		</section>
		<!-- Newsletter section end -->	


		<!-- Footer section -->
		<footer class="footer-section bg-dark text-white py-3">
			{% include 'includes/home/footer-home.html' %}
		</footer>
		<!-- Footer section end-->



		<!--====== Javascripts & Jquery ======-->
		{% include 'includes/home/scripts-home.html' %}
		
	</body>

</html>