<!DOCTYPE html>
<html lang="fr">

	<head>
		<title>Enquêtes et Études - Nabii Nac </title>
		{% include 'includes/home/head-home.html' %}
	</head>

	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- header section -->
		<header class="header-section">
			{% include 'includes/home/header-home.html' %}
		</header>
		<!-- header section end-->


		<!-- Header section  -->
		<nav class="nav-section">
			{% include 'includes/home/nav-home.html' %}
		</nav>
		<!-- Header section end -->


		<!-- Breadcrumb section -->
		<div class="site-breadcrumb">
			<div class="container">
				<a href="#"><i class="fa fa-home"></i> Acceuil</a> <i class="fa fa-angle-right"></i>
				<span>Nos Enquêtes et Etudes</span>
			</div>
		</div>
		<!-- Breadcrumb section end -->


		
		<!-- Enquete section -->
		<section class="event-section spad">
			<div class="container">

				<!-- UN SEUL CAROUSEL -->
				<div class="course-slider owl-carousel">

					<!-- ================= SLIDE 1 ================= -->
					<div class="single-slide">
						<div class="container-fluid">
							<div class="row">

								<!-- 1 -->
								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/1.jpg" alt="">
										<div class="event-date">
											<span>Publié en 2023</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Baromètre de la Gouvernance Locale – Haut-Katanga</h4>
										<p>Analyse de la performance administrative, perception citoyenne et efficacité des politiques publiques locales.</p>
										<a href="#" class="event-readmore">CONSULTER L’ÉTUDE <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>

								<!-- 2 -->
								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/2.jpg" alt="">
										<div class="event-date">
											<span>2022</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Diagnostic du Climat des Affaires en RDC</h4>
										<p>Évaluation des obstacles à l’investissement privé et recommandations stratégiques pour décideurs.</p>
										<a href="#" class="event-readmore">VOIR LE RAPPORT <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>

								<!-- 3 -->
								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/1.jpg" alt="">
										<div class="event-date">
											<span>2023</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Étude d’Impact des ONG – Secteur Éducatif</h4>
										<p>Analyse des résultats des projets éducatifs financés par partenaires internationaux.</p>
										<a href="#" class="event-readmore">CONSULTER <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>

								<!-- 4 -->
								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/2.jpg" alt="">
										<div class="event-date">
											<span>2024</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Enquête Socio-économique sur l’Entrepreneuriat Jeune</h4>
										<p>Profil des jeunes entrepreneurs, défis structurels et accès au financement.</p>
										<a href="#" class="event-readmore">VOIR L’ANALYSE <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- ================= FIN SLIDE 1 ================= -->


					<!-- ================= SLIDE 2 ================= -->
					<div class="single-slide">
						<div class="container-fluid">
							<div class="row">

								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/1.jpg" alt="">
										<div class="event-date">
											<span>Étude sectorielle</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Étude de Marché – Secteur Agroalimentaire</h4>
										<p>Analyse des tendances de consommation et opportunités d’investissement local.</p>
										<a href="#" class="event-readmore">DEMANDER L’ÉTUDE</a>
									</div>
								</div>

								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/2.jpg" alt="">
										<div class="event-date">
											<span>Rapport 2024</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Enquête sur l’Inclusion Financière</h4>
										<p>Accès aux services bancaires et solutions digitales en milieu urbain et rural.</p>
										<a href="#" class="event-readmore">CONSULTER</a>
									</div>
								</div>

								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/1.jpg" alt="">
										<div class="event-date">
											<span>Étude sectorielle</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Étude de Marché – Secteur Agroalimentaire</h4>
										<p>Analyse des tendances de consommation et opportunités d’investissement local.</p>
										<a href="#" class="event-readmore">DEMANDER L’ÉTUDE</a>
									</div>
								</div>

								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/2.jpg" alt="">
										<div class="event-date">
											<span>Rapport 2024</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Enquête sur l’Inclusion Financière</h4>
										<p>Accès aux services bancaires et solutions digitales en milieu urbain et rural.</p>
										<a href="#" class="event-readmore">CONSULTER</a>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- ================= FIN SLIDE 2 ================= -->


					<!-- ================= SLIDE 3 ================= -->
					<div class="single-slide">
						<div class="container-fluid">
							<div class="row">

								<!-- 1 -->
								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/1.jpg" alt="">
										<div class="event-date">
											<span>Projection 2030</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Projection Économique Provinciale 2030</h4>
										<p>Modélisation statistique des tendances démographiques, économiques et sectorielles à l’horizon 2030.</p>
										<a href="#" class="event-readmore">VOIR LA PROJECTION <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>

								<!-- 2 -->
								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/2.jpg" alt="">
										<div class="event-date">
											<span>Observatoire</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Observatoire des Politiques Publiques</h4>
										<p>Tableau de bord décisionnel basé sur indicateurs quantitatifs pour le suivi des performances institutionnelles.</p>
										<a href="#" class="event-readmore">CONSULTER <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>

								<!-- 3 -->
								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/1.jpg" alt="">
										<div class="event-date">
											<span>Indice stratégique</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Indice de Performance Institutionnelle</h4>
										<p>Création d’un score composite mesurant transparence, efficacité administrative et gouvernance.</p>
										<a href="#" class="event-readmore">VOIR L’INDICE <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>

								<!-- 4 -->
								<div class="col-md-6 event-item">
									<div class="event-thumb">
										<img src="../../static/home/img/event/2.jpg" alt="">
										<div class="event-date">
											<span>Analyse prédictive</span>
										</div>
									</div>
									<div class="event-info">
										<h4>Étude Comportementale Électorale</h4>
										<p>Analyse prédictive des tendances sociopolitiques basée sur données démographiques et comportementales.</p>
										<a href="#" class="event-readmore">DEMANDER UNE EXPERTISE <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- ================= FIN SLIDE 3 ================= -->


				</div>
				<!-- FIN DU SEUL CAROUSEL -->
				
			</div>
		</section>
		<!-- Enquete section end-->


		<!-- Newsletter section -->
		<section class="newsletter-section">
			{% include 'includes/home/newsletter-home.html' %}
		</section>
		<!-- Newsletter section end -->	


		<!-- Footer section -->
		<footer class="footer-section bg-dark text-white py-3">
			{% include 'includes/home/footer-home.html' %}
		</footer>
		<!-- Footer section end-->



		<!--====== Javascripts & Jquery ======-->
		{% include 'includes/home/scripts-home.html' %}
		
	</body>

</html>