<!DOCTYPE html>
<html lang="fr">

	<head>
		<title>Acceuil - Nabii Nac </title>
		{% include 'includes/home/head-home.html' %}
	</head>

	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- header section -->
		<header class="header-section">
			{% include 'includes/home/header-home.html' %}
		</header>
		<!-- header section end-->


		<!-- Header section  -->
		<nav class="nav-section">
			{% include 'includes/home/nav-home.html' %}
		</nav>
		<!-- Header section end -->


		<!-- Hero section -->
		<section class="hero-section">
			<div class="hero-slider owl-carousel">
				<div class="hs-item set-bg" data-setbg="../../static/home/img/hero-slider/1.jpg">
					<div class="hs-text">
						<div class="container">
							<div class="row">
								<div class="col-lg-8">
									<div class="hs-subtitle">Bienvenue Chez Nabii Academy Consulting</div>
									<h2 class="hs-title">NABII Academy Consulting : vos données deviennent décisions.</h2>
									<p class="hs-des">
										Grâce à notre expertise en études, analyses et formations spécialisées, nous vous fournissons les<br>
										outils pour comprendre votre marché, anticiper les tendances et maximiser vos résultats.
									</p>
									<div class="site-btn">VOTRE REUSSITE COMMENCE ICI</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hs-item set-bg" data-setbg="../../static/home/img/hero-slider/2.jpg">
					<div class="hs-text">
						<div class="container">
							<div class="row">
								<div class="col-lg-8">
									<div class="hs-subtitle">Expertise et Analyse à Votre Service</div>
									<h2 class="hs-title">Prenez de l'avance grâce à des données fiables.</h2>
									<p class="hs-des">
										Études de marché, enquêtes personnalisées et formations pointues : nous vous donnons les moyens<br>d'agir avec précision<br>
										et d'anticiper les évolutions de votre secteur.
									</p>
									<div class="site-btn">DÉCOUVRIR NOS SERVICES</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Hero section end -->


		<!-- Counter section  -->
		<section class="counter-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-6">
						<div class="big-icon">
							<i class="fa fa-graduation-cap"></i>
						</div>
						<div class="counter-content">
							<h2>A venir : Formation essentielle pour vos stratégies gagnantes</h2>
							<p><i class="fa fa-calendar-o"></i>07:00 PM - 09:00 PM</p>
						</div>
					</div>
					<div class="col-lg-5 col-md-6">
						<div class="counter" id="countdown">
							<div class="counter-item"><h4 id="days">00</h4>Days</div>
							<div class="counter-item"><h4 id="hours">00</h4>Hrs</div>
							<div class="counter-item"><h4 id="minutes">00</h4>Mins</div>
							<div class="counter-item"><h4 id="seconds">00</h4>Secs</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Counter section end -->


		<!-- Services section -->
		<section class="service-section spad">
			<div class="container services">
				<div class="section-title text-center">
					<h3>NOS SERVICES</h3>
					<p>Transformez vos données en décisions grâce à nos expertises ciblées.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-6 service-item">
						<div class="service-icon">
							<img src="../../static/home/img/services-icons/1.png" alt="1">
						</div>
						<div class="service-content">
							<h4>Enquêtes</h4>
							<p>Collecte et analyse de données fiables pour éclairer vos décisions.</p>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 service-item">
						<div class="service-icon">
							<img src="../../static/home/img/services-icons/2.png" alt="1">
						</div>
						<div class="service-content">
							<h4>Formations</h4>
							<p>Formations spécialisées pour renforcer vos compétences et optimiser vos performances.</p>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 service-item">
						<div class="service-icon">
							<img src="../../static/home/img/services-icons/3.png" alt="1">
						</div>
						<div class="service-content">
							<h4>Etudes</h4>
							<p>Études approfondies de votre marché et de vos concurrents pour vous permettre de prendre des décisions éclairées.</p>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 service-item">
						<div class="service-icon">
							<img src="../../static/home/img/services-icons/4.png" alt="1">
						</div>
						<div class="service-content">
							<h4>Conseil</h4>
							<p>Conseil personnalisé pour optimiser vos stratégies et améliorer vos performances.</p>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 service-item">
						<div class="service-icon">
							<img src="../../static/home/img/services-icons/5.png" alt="1">
						</div>
						<div class="service-content">
							<h4>Suivi et Evaluation</h4>
							<p>Mesurer progrès, garantir transparence, renforcer impact, améliorer action, assurer responsabilité, inspirer confiance.</p>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 service-item">
						<div class="service-icon">
							<img src="../../static/home/img/services-icons/6.png" alt="1">
						</div>
						<div class="service-content">
							<h4>Visualisation</h4>
							<p>Visualisation des données pour une meilleure compréhension et prise de décision éclairée.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Services section end -->

		
		<!-- Enroll section -->
		<section class="enroll-section spad set-bg" data-setbg="../../static/home/img/encroll-img.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="section-title text-white">
							<h3>Comment suivre nos formations</h3>
							<p>Suivez, appliquez, excellez grâce à nous</p>
						</div>
						<div class="enroll-list text-white">
							<div class="enroll-list-item">
								<span>1</span>
								<h5>Inscription</h5>
								<p>Commencez votre parcours en nous rejoignant pour découvrir nos formations et services.</p>
							</div>
							<div class="enroll-list-item">
								<span>2</span>
								<h5>Confirmation</h5>
								<p>Confirmez votre inscription et bénéficiez d'une consultation personnalisée pour définir vos objectifs.</p>
							</div>
							<div class="enroll-list-item">
								<span>3</span>
								<h5>Participation</h5>
								<p>Commencez à participer activement à nos formations et services pour atteindre vos objectifs.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 offset-lg-1 p-lg-0 p-4">
						<img src="../../static/home/img/encroll-img.jpg" alt="">
					</div>
				</div>
			</div>
		</section>
		<!-- Enroll section end -->


		<!-- Courses section -->
		<section class="courses-section spad">
			<div class="container">
				<div class="section-title text-center">
					<h3>NOS FORMATIONS</h3>
					<p>Construire un monde meilleur, une formation à la fois</p>
				</div>
				<div class="row">
					<!-- cours 1 -->
					<div class="col-lg-4 col-md-6 course-item">
						<div class="course-thumb">
							<img src="../../static/home/img/course/6.png" alt="">
							<div class="course-cat">
								<a href="/formation_1"><span>BUREAUTIQUE</span></a>
							</div>
						</div>
						<div class="course-info">
							<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
							<h4>Excel : De Débutant à Avancé</h4>
							<h4 class="cource-price">Gratuit</h4>
						</div>
					</div>

					<!-- cours 2 -->
					<div class="col-lg-4 col-md-6 course-item">
						<div class="course-thumb">
							<img src="../../static/home/img/course/2.png" alt="">
							<div class="course-cat">
								<a href="/formation_2"><span>MARKETING</span></a>
							</div>
						</div>
						<div class="course-info">
							<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
							<h4>Marketing Digital : Google Ads et Réseaux Sociaux</h4>
							<h4 class="cource-price">Gratuit</h4>
						</div>
					</div>
					
					<!-- cours 3 -->
					<div class="col-lg-4 col-md-6 course-item">
						<div class="course-thumb">
							<img src="../../static/home/img/course/1.png" alt="">
							<div class="course-cat">
								<a href="/formation_3"><span>OFFICE</span></a>
							</div>
						</div>
						<div class="course-info">
							<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
							<h4>Outils Bureautiques : PowerPoint, Word, Excel, Access</h4>
							<h4 class="cource-price">Gratuit</h4>
						</div>
					</div>

					<!-- cours 4 -->
					<div class="col-lg-4 col-md-6 course-item">
						<div class="course-thumb">
							<img src="../../static/home/img/course/5.png" alt="">
							<div class="course-cat">
								<a href="/formation_4"><span>PROGRAMMATION</span></a>
							</div>
						</div>
						<div class="course-info">
							<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
							<h4>Python : De Débutant à Expert</h4>
							<h4 class="cource-price">Gratuit</h4>
						</div>
					</div>

					<!-- cours 5 -->
					<div class="col-lg-4 col-md-6 course-item">
						<div class="course-thumb">
							<img src="../../static/home/img/course/7.png" alt="">
							<div class="course-cat">
								<a href="/formation_5"><span>PROGRAMMATION</span></a>
							</div>
						</div>
						<div class="course-info">
							<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
							<h4>Développement Web : HTML, CSS, JavaScript</h4>
							<h4 class="cource-price">Gratuit</h4>
						</div>
					</div>
					
					<!-- cours 6 -->
					<div class="col-lg-4 col-md-6 course-item">
						<div class="course-thumb">
							<img src="../../static/home/img/course/3.png" alt="">
							<div class="course-cat">
								<a href="/formation_1"><span>BUREAUTIQUE</span></a>
							</div>
						</div>
						<div class="course-info">
							<div class="date"><i class="fa fa-clock-o"></i> Disponible maintenant</div>
							<h4>PowerPoint : Présentations Impactantes</h4>
							<h4 class="cource-price">Gratuit</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Courses section end-->


		<!-- Fact section -->
		<section class="fact-section text-center set-bg" data-setbg="../../static/home/img/fact-bg.jpg">
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-lg-8">

						<h2 class="text-white fw-bold mb-3">
							Prêt à lancer votre appel ou collaborer avec notre réseau ?
						</h2>

						<p class="text-white mb-4" style="font-size:18px;">
							Entreprises, organisations et particuliers peuvent publier un appel,
							rechercher des compétences ou collaborer avec les membres du réseau
							NABII-NAC pour concrétiser leurs projets.
						</p>

						<div class="d-flex justify-content-center gap-3 flex-wrap">

							<a href="/action" class="btn btn-primary btn-lg px-4">
								Appel à l'action
							</a>

							<a href="/portfolio" class="btn btn-outline-light btn-lg px-4">
								Nos Projets
							</a>

						</div>

					</div>
				</div>

			</div>
		</section>
		<!-- Fact section end-->

		<!-- Blog section -->
		<section class="blog-section spad">
			<div class="container">
				<div class="section-title text-center">
					<h3>ACTUALITÉS NABII</h3>
					<p>Découvrez nos dernières actions, études et projets en cours</p>
				</div>
				<div class="row">
					<!-- article 1 -->
					<div class="col-xl-6">
						<div class="blog-item">
							<div class="blog-thumb set-bg" data-setbg="../../static/home/img/blog/1.png"></div>
							<div class="blog-content">
								<h4>Nouvelle enquête sur le comportement digital des consommateurs</h4>
								<div class="blog-meta">
									<span><i class="fa fa-calendar-o"></i> 15 Fév 2026</span>
									<span><i class="fa fa-user"></i> NABII Team</span>
								</div>
								<p>Nous avons lancé une enquête nationale pour comprendre les habitudes digitales et aider nos clients à mieux cibler leurs stratégies marketing.</p>
							</div>
						</div>
					</div>

					<!-- article 2 -->
					<div class="col-xl-6">
						<div class="blog-item">
							<div class="blog-thumb set-bg" data-setbg="../../static/home/img/course/6.png"></div>
							<div class="blog-content">
								<h4>Formation Excel avancé : maîtriser vos données</h4>
								<div class="blog-meta">
									<span><i class="fa fa-calendar-o"></i> 10 Fév 2026</span>
									<span><i class="fa fa-user"></i> NABII Team</span>
								</div>
								<p>Nos sessions de formation Excel avancé ont aidé plus de 50 professionnels à optimiser leurs tableaux et analyses de données.</p>
							</div>
						</div>
					</div>

					<!-- article 3 -->
					<div class="col-xl-6">
						<div class="blog-item">
							<div class="blog-thumb set-bg" data-setbg="../../static/home/img/blog/2.png"></div>
							<div class="blog-content">
								<h4>Publication d’une étude sur la satisfaction client</h4>
								<div class="blog-meta">
									<span><i class="fa fa-calendar-o"></i> 01 Fév 2026</span>
									<span><i class="fa fa-user"></i> NABII Team</span>
								</div>
								<p>Cette étude fournit des insights précis sur la satisfaction des clients et des recommandations pour améliorer les services proposés par nos partenaires.</p>
							</div>
						</div>
					</div>

					<!-- article 4 -->
					<div class="col-xl-6">
						<div class="blog-item">
							<div class="blog-thumb set-bg" data-setbg="../../static/home/img/course/3.png"></div>
							<div class="blog-content">
								<h4>Lancement d’un programme de formation gratuit en PowerPoint</h4>
								<div class="blog-meta">
									<span><i class="fa fa-calendar-o"></i> 05 Fév 2026</span>
									<span><i class="fa fa-user"></i> NABII Team</span>
								</div>
								<p>Nous proposons un programme gratuit pour aider les jeunes professionnels à créer des présentations percutantes et efficaces.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Blog section -->


		<!-- Newsletter section -->
		<section class="newsletter-section">
			{% include 'includes/home/newsletter-home.html' %}
		</section>
		<!-- Newsletter section end -->	


		<!-- Footer section -->
		<footer class="footer-section bg-dark text-white py-3">
			{% include 'includes/home/footer-home.html' %}
		</footer>
		<!-- Footer section end-->

		<!--====== Javascripts & Jquery ======-->
		{% include 'includes/home/scripts-home.html' %}
		
	</body>

</html>