<div class="container d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <div class="footer-logo">
        <img src="../../static/home/img/logo.png" alt="NABII Academy" height="50">
    </div>
    <!-- Réseaux sociaux -->
    <div class="footer-social">
        <a href="#" class="text-white me-2"><i class="fa fa-twitter-square fa-lg"></i></a>
        <a href="#" class="text-white me-2"><i class="fa fa-facebook-square fa-lg"></i></a>
        <a href="#" class="text-white me-2"><i class="fa fa-google-plus-square fa-lg"></i></a>
        <a href="#" class="text-white me-2"><i class="fa fa-linkedin-square fa-lg"></i></a>
        <a href="#" class="text-white"><i class="fa fa-rss-square fa-lg"></i></a>
    </div>
</div>
<div class="container text-center mt-2">
    <small>&copy; <script>document.write(new Date().getFullYear());</script> NABII Academy Consulting | Tous droits réservés | <a href="mailto:chrinovicnyembo009@gmail.com" class="text-white">Contactez-nous</a></small>
</div>