<div class="container">
    <div class="nav-right">
        <a href=""><i class="fa fa-search"></i></a>
        <a href="" class="position-relative d-inline-block">
            <i class="fa fa-bell fa-lg"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
                4
            </span>
        </a>
    </div>
    <ul class="main-menu">
        <li class="{% if page_active == 'home' %}active{% endif %}"><a href="/">Acceuil</a></li>
        <li class="{% if page_active == 'about' %}active{% endif %}"><a href="/about">A Propos</a></li>
        <li class="{% if page_active == 'enquete' %}active{% endif %}"><a href="/enquete">Enquêtes & Etudes</a></li>
        <li class="{% if page_active == 'courses' %}active{% endif %}"><a href="/courses">Formations</a></li>
        <li class="{% if page_active == 'blog' %}active{% endif %}"><a href="/blog">blog</a></li>
        <li class="{% if page_active == 'portfolio' %}active{% endif %}"><a href="/portfolio">Portfolio</a></li>
        <li class="{% if page_active == 'contact' %}active{% endif %}"><a href="/contact">Contact</a></li>
    </ul>
</div>