<script src="../../static/home/js/jquery-3.2.1.min.js"></script>
<script src="../../static/home/js/owl.carousel.min.js"></script>
<script src="../../static/home/js/jquery.countdown.js"></script>
<script src="../../static/home/js/masonry.pkgd.min.js"></script>
<script src="../../static/home/js/magnific-popup.min.js"></script>
<script src="../../static/home/js/main.js"></script>
<script src="../../static/home/js/rebourt.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>