<!-- widget -->
<div class="widget">
    <form class="search-widget">
        <input type="text" placeholder="Rechercher...">
        <button><i class="ti-search"></i></button>
    </form>
</div>
<!-- widget -->
<div class="widget">
    <h5 class="widget-title">Recentes Nouvelles</h5>
    <div class="recent-post-widget">
        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/5.jpeg"></div>
            <div class="rp-content">
                <h6>Observatoires provinciaux de la nutrition : suivre, documenter et conseiller</h6>
                <p><i class="fa fa-clock-o"></i> 10 Mai 2026</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/7.jpeg"></div>
            <div class="rp-content">
                <h6>Commission nationale multisectorielle : vers un mécanisme de financement durable</h6>
                <p><i class="fa fa-clock-o"></i> 8 Mai 2026</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/6.jpeg"></div>
            <div class="rp-content">
                <h6>Industries agroalimentaires locales : un levier pour l’emploi et la nutrition</h6>
                <p><i class="fa fa-clock-o"></i> 6 Mai 2026</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/8.jpeg"></div>
            <div class="rp-content">
                <h6>Infrastructures et routes : pourquoi le Kwango reste enclavé</h6>
                <p><i class="fa fa-clock-o"></i> 4 Mai 2026</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/9.jpeg"></div>
            <div class="rp-content">
                <h6>Transferts sociaux sensibles à la nutrition : une piste pour le Kongo Central</h6>
                <p><i class="fa fa-clock-o"></i> 2 Mai 2026</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/10.jpeg"></div>
            <div class="rp-content">
                <h6>Diversification agricole : un moteur pour la nutrition durable</h6>
                <p><i class="fa fa-clock-o"></i> 30 Avril 2026</p>
            </div>
        </div>

    </div>
</div>
<!-- widget -->
<div class="widget">
    <h4 class="widget-title">Etiquettes</h4>
    <div class="tags">
        <a href="#">NUTRITION</a>
        <a href="#">MALNUTRITION</a>
        <a href="#">ECONOMIE</a>
        <a href="#">GOUVERNANCE</a>
        <a href="#">DONNEES</a>
        <a href="#">POLITIQUE PUBLIQUE</a>
        <a href="#">SONDAGES</a>
        <a href="#">ANALYSES STATISTIQUES</a>
        <a href="#">TENDANCES</a>
        <a href="#">GENRE</a>
        <a href="#">SANTE COMMUNAUTAIRE</a>
        <a href="#">AGRICULTURE</a>
        <a href="#">WASH</a>
        <a href="#">BIG WIN PHILANTHROPY</a>
        <a href="#">NABII ACADEMY CONSULTING</a>
    </div>
</div>