<!-- widget -->
<div class="widget">
    <form class="search-widget">
        <input type="text" placeholder="Rechercher...">
        <button><i class="ti-search"></i></button>
    </form>
</div>
<!-- widget -->
<div class="widget">
    <h5 class="widget-title">Récentes analyses</h5>
    <div class="recent-post-widget">

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/5.jpeg"></div>
            <div class="rp-content">
                <h6>Malnutrition chronique : des taux alarmants au Kwango et au Kongo Central</h6>
                <p><i class="fa fa-clock-o"></i> Juillet 2025</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/7.jpeg"></div>
            <div class="rp-content">
                <h6>Pratiques alimentaires des enfants : un défi majeur durant les 1 000 premiers jours</h6>
                <p><i class="fa fa-clock-o"></i> Juillet 2025</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/6.jpeg"></div>
            <div class="rp-content">
                <h6>Accès aux services de santé : un frein à la lutte contre la malnutrition</h6>
                <p><i class="fa fa-clock-o"></i> Juillet 2025</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/8.jpeg"></div>
            <div class="rp-content">
                <h6>Eau, hygiène et assainissement : un facteur clé souvent négligé</h6>
                <p><i class="fa fa-clock-o"></i> Juillet 2025</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/9.jpeg"></div>
            <div class="rp-content">
                <h6>Facteurs socio-économiques et culturels : comprendre les causes profondes</h6>
                <p><i class="fa fa-clock-o"></i> Juillet 2025</p>
            </div>
        </div>

        <!-- recent post -->
        <div class="rp-item">
            <div class="rp-thumb set-bg" data-setbg="../../static/home/img/blog/10.jpeg"></div>
            <div class="rp-content">
                <h6>Approche multisectorielle : une nécessité pour des solutions durables</h6>
                <p><i class="fa fa-clock-o"></i> Juillet 2025</p>
            </div>
        </div>

    </div>
</div>
<!-- widget -->
<div class="widget">
    <h4 class="widget-title">Etiquettes</h4>
    <div class="tags">
        <a href="#">NUTRITION</a>
        <a href="#">MALNUTRITION</a>
        <a href="#">ECONOMIE</a>
        <a href="#">GOUVERNANCE</a>
        <a href="#">DONNEES</a>
        <a href="#">POLITIQUE PUBLIQUE</a>
        <a href="#">SONDAGES</a>
        <a href="#">ANALYSES STATISTIQUES</a>
        <a href="#">TENDANCES</a>
        <a href="#">GENRE</a>
        <a href="#">SANTE COMMUNAUTAIRE</a>
        <a href="#">AGRICULTURE</a>
        <a href="#">WASH</a>
        <a href="#">BIG WIN PHILANTHROPY</a>
        <a href="#">NABII ACADEMY CONSULTING</a>
    </div>
</div>